/* :root {
    --green: #8ace00;
    --charcoalBlack: #21272d;

    --backgroundColor: var(--charcoalBlack);
    --primaryAccentColor: var(--green);
}

html {
    scroll-behavior: smooth;
    background: var(--backgroundColor);
    color: var(--primaryAccentColor);
    font-size: 1.2em;
} */

.header {
    width: 100%;
    margin-bottom: 20px;

    h2, .headerTitle {
        /* transform: translateY(-20px); */
        color: white;
        text-align: center;
        font-size: 32pt;
        /* background-color: var(--green); */
    }

    img {
        width: 100%;
        height: 300px;
    }
}

main {

    display: flex;
    align-items: center;
    flex-flow: column;
    padding-bottom: 60px;

    #textContainer {
        width: 90vw;
        margin-bottom: 32px;
    }
    
    .textBlock {
        width: 100%;
        background: #171717;
        font-size: 1.2rem;
        text-align: justify;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .usersFeedbacks {
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(2, 6fr);
        gap: 20px;

        .cardUserFeedback {
            background-color: #525353;
            border-radius: 6pt;
            .cardHeading {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                color: white;
                font-size: 10pt;
                padding: 8px;

                div {
                    gap: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .userImage {
                        width: 60px; aspect-ratio: 1/1;
                        border-radius: 999px;
                    }
                }
            }
        .cardBody {
                p {
                    text-align: justify;
                    font-size: 12pt;
                    padding: 8px;
                }
            }
        }

    }
}

footer {
    color: white;
    font-family: monospace;
    font-size: 12pt;
    background-color: #121212;
    padding: 20px;

    a {
        color: var(--primaryAccentColor);
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
}